*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  color:#333;
}

.container{
  width: 1400px;
  padding: 0;
  margin: 0;
}

.heading{
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  z-index: 10;
}

.heading > h3, h1{
  text-align: center;
}

.heading > h3{
  margin-top: 35px;
}

.heading > h1{
  font-size: 4rem;
  margin: 10px 0 15px 0;
}

.heading > h1 span{
  font-size: 2.5rem;
}

/* form */
.new-expense{
  padding: 10px;
  text-align: center;
}

.new-expense label{
  margin: 0 5px 0 20px;
}

.submit{
  font-size: 18px;
  color: white;
  background-color: #3B9EBE;
  border: none;
  padding: 7px;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
  width: 80px;
}


.notification {
  position: fixed;
  top: 40vh;
  width: 300px;
  right: 750px;
  box-shadow: 0 0 40px rgba(0,0,0,0.35);
  padding: 50px 40px;
  /* height: 200px; */
  /* right: 10px; */
  background-color: #eee;
  border: 1px solid #ddd;
  color: green;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.show {
display: block;
opacity: 1;
}

.edit{
  background-color: #05AD1B !important;
  width: 200px;
}

input{
  font-weight: bold;
}



.inside-container{
  display: flex;
}

.left-panel{
  width: 400px;
  display: flex;
}

.right-panel{
  width: 800px;
  display: flex;
}


.month-container{
  margin-bottom: 100px;
}

.month-name{
  color: #333;
  font-size: 2rem;
  padding: 25px 0;
}

.monthly-value{
  font-size: 1.2rem;
}

.zl{
  font-size: 1rem;
}

.day-name{
  margin-left: 35px;
  color: #444;
  margin-top: 10px;
}

table{
  padding-left: 100px;
  border-collapse: separate;
  width: 1000px;
  border-bottom: 0.5px solid #ddd;
}

td {
  display: inline-block;
  margin: 10px 15px;
}

.e-value{
  width: 70px;
}

.e-descr{
  width: 600px;
  word-wrap: break-word;
}

.icon{
  color: #bbb;
  margin: -2px;
}

.icon:hover{
  color: #333;
}

tr:hover{
  background-color: #dedede;
}

.icnbtn:hover .icon{
  color: #333;
}
